*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
    padding: 0px;
    margin: 0px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  html {
    height: 100vh;
  }

  body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gameArea {
    height: 400px;
    width: 800px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }

  .gameArea > * {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    /* gap: 1px;
    padding: 2px; */
    cursor: pointer;
  }

  .player1 .tile {
    /* background-color: blue; */
    border: 1px solid black;
  }